@-moz-document regexp("https*://www.google..*") {
/* GENERAL */

    /** DESCRIPTION : change the elements of all page **/
    * {
        font-family: "Roboto", "ぼくたちのゴシック２ボールド" !important;
    }

    html {
        background-color: #F0F1F5 !important;
    }

    a,
    a:hover {
        background-color: transparent;
        text-decoration: none !important;
        transition: color .3s ease-in-out !important;
    }

    *::-moz-focus-inner {
        border: 0;
    }

    input::-moz-placeholder {
        font-size: 15pt !important;
    }

    #cnt {
        background: #F0F1F5 !important;
    }

    a[id*="abar_button_"],
    #ab_options,
    .action-menu + .fl,
    #botstuff #bres,
    ._bXm,
    .card-section,
    #center_col .kp-blk,
    ._czk,
    #_eEe,
    .exp-outline,
    #extrares ._Rud,
    #fbarcnt,
    #footcnt,
    .fmob_dis,
    #hdtb-tls,
    ._iH,
    .irc_land .irc_ft,
    #irl_r_a,
    .kN9UDnqLeMg__explore-container,
    .kN9UDnqLeMg__explore-main,
    .kno-ftr,
    ._LJ,
    ._M6k.vk_c,
    ._nzt.gws-local-riddler__banner-shown,
    .nwd,
    ._ODu,
    #qbfti,
    #qbuti,
    .q.qs[href*="=shop"],
    .rhsg3,
    .rhsvw.kno-ftr,
    #sbfblt,
    .shpd,
    sup,
    #topstuff .sh-sp__pswtr,
    #tw-container + ._vm,
    ._V1j,
    ._zX.ellip {
        display: none !important;
    }

    .normal-footer {
        margin-top: -15px !important;
        visibility: hidden;
    }

    .sbdd_a[dir="ltr"] .sbsb_j {
        visibility: hidden !important;
    }

    .med.card-section {
        background: #FFF !important;
        border-radius: 2px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        font-size: 15pt !important;
        font-stretch: condensed !important;
        padding: 5px 30px !important;
        margin-top: 20px;
        display: block !important;
    }

    /* HEADER */

    /** DESCRIPTION : change the elements of the header **/
    .sfbgg {
        background: no-repeat url("https://i.imgur.com/mlwvL82.jpg") top !important;
        background-size: cover !important;
        height: 84px !important;
    }

    .sfbgx {
        background: transparent !important;
    }

    .sfbgg::before {
        background-image: linear-gradient(to right, #73D2F6, #3369E8 22%, #EF5350 36%, #D50F25 48%, #FFE082 63%, #EEB211 76%, #009925) !important;
        color: transparent !important;
        content: "dd" !important;
        height: 3px !important;
        width: 100% !important;
        position: absolute;
        top: 0px !important;
    }

    #logocont {
        background: no-repeat url("https://i.imgur.com/IqDKVDh.png") 55% 51% !important;
        background-color: #FFF !important;
        background-size: 25px auto !important;
        border-right: 1px solid #EBEBEB !important;
        border-top-left-radius: 2px !important;
        border-bottom-left-radius: 2px !important;
        padding: 44px 0px 0px 44px !important;
        margin-top: 3px !important;
        margin-left: 20px !important;
    }

    #logocont img {
        display: none !important;
    }

    #gsr #searchform #tsf .tsf-p {
        padding-left: 64px !important;
    }

    .sbibod {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
    }

    #lst-ib {
        font-family: "Roboto" !important;
        font-size: 14pt !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
    }

    .gb_Nc > a[href*="options"] {
        background: no-repeat url("https://i.imgur.com/0kro7UX.png") center !important;
        background-size: 22px auto !important;
        margin-top: 1px !important;
        opacity: 1 !important;
    }

    .gb_Oc {
        background: no-repeat url("https://i.imgur.com/pu4S5vj.png") center !important;
        background-size: cover !important;
        border-radius: 2px !important;
        height: 0px !important;
        width: 0px !important;
        padding: 20px 0px 0px 20px !important;
        margin-top: 6px !important;
        margin-left: 3px !important;
    }

    .gstl_0.sbdd_a,
    .sbdd_b {
        box-shadow: none !important;
    }

    .sbdd_b .sbsb_a {
        border-top: 6px solid #009925 !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        padding: 15px 10px !important;
        margin-top: 10px !important;
    }

    .sbdd_b .sbsb_a * {
        font-size: 14pt !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
        line-height: 20pt !important;
    }

    #hdtb {
        background: #FFF !important;
        border: none !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
    }

    #hdtb-msb {
        margin-left: -50px !important;
    }

    #hdtbSum {
        background: #FFF !important;
        border-top: 1px solid #EBEBEB !important;
        font-size: 14pt !important;
        font-stretch: condensed !important;
        padding-bottom: 15px !important;
        margin-top: 20px !important;
    }

    .hdtb-mitem.hdtb-msel.hdtb-imb {
        border: none !important;
        font-weight: normal !important;
    }

    #qbp {
        border: none !important;
        border-radius: 2px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        height: 187px !important;
        position: fixed !important;
        top: 0px !important;
        right: 0px !important;
        bottom: 0px !important;
        left: 0px !important;
        margin: auto !important;
    }

    .qbtt {
        font-size: 18pt !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
    }

    #qbdt {
        font-size: 11pt !important;
    }

    .qbtbha.sl {
        background: transparent !important;
        border: none !important;
    }

    .qbtbp {
        border-top: 1px solid #EBEBEB !important;
    }

    .qbwr .qbtbha,
    .qbwr .qbtbha * {
        font-family: "Roboto" !important;
        font-size: 13pt !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
    }

    #qbi {
        background: no-repeat url("https://s1.gifyu.com/images/device-camera-icon.png") center !important;
        background-size: cover !important;
        margin-top: -2px !important;
        margin-right: -8px !important;
        opacity: 1 !important;
    }

    #qbui {
        border: none;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        border-radius: 2px !important;
        font-size: 12pt !important;
        font-family: "Roboto" !important;
        font-stretch: condensed !important;
        padding-left: 9px !important;
    }

    #qbbtc .gbqfb {
        font-family: "Roboto" !important;
        font-size: 13pt !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
        width: 150px !important;
    }

    #qbx {
        background: no-repeat url('https://imgur.com/4GlrMN7.png') center !important;
        background-size: cover !important;
        height: 25px !important;
        width: 25px !important;
    }

    #qbfile {
        font-family: "Roboto" !important;
        font-size: 13pt !important;
        font-stretch: condensed !important;
    }

    /* PAGINATION */

    /** DESCRIPTION : change the elements of the pagination **/
    #navcnt {
        font-size: 14pt !important;
        font-stretch: condensed !important;
        margin-top: -40px !important;
    }

    #navcnt .csb {
        background: none !important;
    }

    /* MAIN SEARCH */

    /** DESCRIPTION : change the elements of the main search page **/
    #hdtb-msb > .hdtb-mitem:first-child,
    .ab_tnav_wrp,
    .mw #center_col {
        margin-left: 100px !important;
    }

    #center_col .rc {

        /*** MAIN SEARCH RESULTS ***/
        background: #FFF !important;
        border-radius: 2px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        padding: 20px !important;
    }

    #cnt .mw #center_col {
        width: 715px !important;
    }

    #extabar {

        /*** MAIN SEARCH RESULTS COUNTER ***/
        background: #F0F1F5 !important;
        font-size: 15pt !important;
        font-stretch: condensed !important;
        margin-top: 40px !important;
    }

    #resultStats {
        transition: none !important;
    }

    #resultStats::before {
        background: no-repeat url("http://s1.gifyu.com/images/gzypyldoqaxjhvtyyhei.png") center !important;
        background-size: cover !important;
        content: "dd" !important;
        color: transparent;
        margin-right: 10px !important;
    }

    #fprs {

        /*** MAIN SEARCH RESULTS AUTOCORRECT ***/
        font-stretch: condensed !important;
        display: block !important;
    }

    .spell {
        font-size: 15pt !important;
    }

    .spell_orig {
        font-size: 14pt !important;
        text-transform: lowercase !important;
    }

    .kappbar {

        /*** MAIN SEARCH RESULTS OTHERS SEARCH ***/
        background: transparent !important;
        margin-top: -40px !important;
    }

    .klbar {
        border: none !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        padding-bottom: 15px !important;
    }

    .mlo-c {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
    }

    .kltat {
        font-size: 13pt !important;
        margin-top: 6px !important;
    }

    .klmeta {
        font-size: 11pt !important;
    }

    .klitem.selected {
        border-bottom: 4px solid #FBBC05;
    }

    #center_col .rc .r {

        /*** MAIN SEARCH RESULTS TITLE ***/
        border-bottom: 1px solid #EBEBEB !important;
        font-size: 16pt !important;
        font-stretch: condensed !important;
        height: 26px !important;
        padding-bottom: 20px !important;
        padding-left: 18px !important;
        margin-right: -20px !important;
        margin-bottom: 10px !important;
        margin-left: -20px !important;
        display: block !important;
    }

    #center_col .rc .r a:hover {
        color: #2C82C9 !important;
    }

    #center_col .rc .r ._ogd.b.w.xsm {
        background: #EB6361 !important;
        border-radius: 2px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        color: #FFF !important;
        font-size: 11pt !important;
        padding: 10px !important;
        position: absolute !important;
        right: 8px !important;
        margin-top: -6px !important;
    }

    #center_col .rc ._SWb {

        /*** MAIN SEARCH RESULTS LINK ***/
        color: #16A085 !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        max-width: 100% !important;
        overflow: hidden;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    #center_col .rc ._Rm {
        font-size: 14pt !important;
        font-stretch: condensed !important;
    }

    #center_col .rc ._Rm::before {
        background: no-repeat url("https://i.imgur.com/seZMtRv.png") left 60% !important;
        background-size: 17px auto !important;
        color: transparent;
        content: "dd" !important;
        padding-right: 8px !important;
    }

    #center_col .rc .ab_button {
        background: no-repeat url("https://i.imgur.com/OygFMxF.png") bottom !important;
        background-size: 12px auto !important;
    }

    #center_col .rc .action-menu .mn-dwn-arw {
        border-color: transparent;
    }

    #center_col .rc .action-menu-panel.ab_dropdown,
    ._dMq {
        background: #F0F1F5 !important;
        border: none !important;
        border-radius: 2px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        font-stretch: condensed !important;
        padding: 10px 5px !important;
    }

    #center_col .rc .action-menu-item:hover,
    ._dMq *:hover {
        background-color: transparent !important;
    }

    #center_col .rc .action-menu-item.ab_dropdownitem a,
    ._dMq * {
        font-size: 12pt !important;
        text-transform: lowercase !important;
    }

    #center_col .rc .action-menu-item.ab_dropdownitem a:hover {
        color: #7E7E7E !important;
    }

    #center_col .rc .slp.f {

        /*** MAIN SEARCH RESULTS DATE ***/
        font-size: 14pt !important;
        font-stretch: condensed !important;
        margin-top: 8px !important;
        margin-bottom: 10px !important;
    }

    #center_col .rc .st {

        /*** MAIN SEARCH RESULTS DESCRIPTION ***/
        font-size: 11pt !important;
        line-height: 17pt !important;
    }

    #center_col .rc .osl {

        /*** MAIN SEARCH RESULTS OTHERS LINKS ***/
        color: transparent;
        padding: 12px 0px !important;
        margin-top: 10px !important;
        margin-bottom: -5px !important;
    }

    #center_col .rc .osl .fl {
        background: #4A5366 !important;
        border: none !important;
        border-radius: 2px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        color: #FFF !important;
        font-size: 11pt !important;
        padding: 10px 10px 12px 10px !important;
        width: 100% !important;
        margin-bottom: -5px !important;
        display: flex !important;
    }

    #center_col .rc ._Tib {
        color: #7E7E7E !important;
        font-size: 13pt !important;
        font-stretch: condensed !important;
        text-align: right !important;
        text-transform: lowercase !important;
        margin-top: 20px !important;
    }

    #center_col .rc ._cwc {
        font-size: 11pt !important;
        line-height: 20pt !important;
        width: 100% !important;
        margin-top: 10px !important;
    }

    #center_col .rc ._cwc * {
        font-weight: normal !important;
    }

    #center_col .rc ._pgd {
        font-size: 13pt !important;
        font-stretch: condensed !important;
        text-transform: lowercase !important;
        opacity: 0.9;
    }

    #center_col .rc ._WQd {
        display: none !important;
    }

    #extrares #botstuff g-section-with-header {

        /*** MAIN SEARCH RESULTS RELATED CARD ***/
        background: #FFF !important;
        border-radius: 2px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        padding: 20px !important;
        margin-top: 0px !important;
    }

    #extrares #botstuff g-section-with-header ._ojo {
        border-bottom: 1px solid #EBEBEB !important;
        padding: 0px 20px 20px 20px !important;
        margin-top: 5px !important;
        margin-right: -20px !important;
        margin-bottom: 20px !important;
        margin-left: -20px !important;
    }

    #extrares #botstuff g-section-with-header ._ojo h3 {
        font-size: 16pt !important;
        font-stretch: condensed !important;
    }

    #extrares #botstuff .card-section {
        display: block !important;
    }

    #extrares #botstuff g-section-with-header .card-section p {
        font-size: 14pt !important;
        font-stretch: condensed !important;
        line-height: 20pt !important;
        margin-left: 5px !important;
    }

    #extrares #botstuff g-section-with-header .card-section * {
        font-weight: normal !important;
    }

    .nrgt {
        background: #FFF !important;
        border-radius: 2px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        padding: 20px 30px 30px 30px !important;
        width: 100% !important;
        margin-top: 20px !important;
        margin-left: 0 !important;
    }

    #nqsbq {
        background: #F0F1F5 !important;
        border: none !important;
        border-radius: 2px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        font-family: "Roboto" !important;
        font-size: 15pt !important;
        font-stretch: condensed !important;
        padding: 10px 15px !important;
        margin-top: 7px !important;
        margin-bottom: 10px !important;
        margin-left: 7px !important;
    }

    .mslg .ab_button {
        display: none !important;
    }

    #center_col ._Z1m {
        border: none !important;
        border-radius: 2px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        padding: 2px 10px 10px 10px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        font-stretch: condensed !important;
        text-transform: lowercase !important;
    }

    .rl_feature,
    .rlc__slider,
    .rlc__slider-page {
        background: transparent !important;
    }

    .rl_feature {
        margin-top: -40px !important;
    }

    .rl_center {
        border: none;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        padding-bottom: 15px !important;
    }

    .rlc__slider-page ._Iho {
        padding-top: 2px;
        padding-bottom: 2px !important;
    }

    .rl_selected ._Njf {
        height: 67px !important;
        margin-top: -9px !important;
    }

    .appbar .rl_item_base .title {
        font-size: 13pt;
    }

    ._Ajf {
        font-size: 11pt !important;
    }

    .mslg .l {
        font-size: 17pt !important;
        font-stretch: condensed !important;
    }

    #imagebox_bigimages g-section-with-header {

        /*** MAIN SEARCH RESULTS IMAGE CARD ***/
        background: #FFF !important;
        border-radius: 2px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        padding: 20px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        display: block !important;
    }

    #imagebox_bigimages ._ojo {
        border-bottom: 1px solid #EBEBEB !important;
        padding: 0px 20px 20px 20px !important;
        margin-right: -20px !important;
        margin-bottom: 20px !important;
        margin-left: -20px !important;
    }

    #imagebox_bigimages ._ojo h3 {
        font-size: 16pt !important;
        font-stretch: condensed !important;
    }

    #imagebox_bigimages ._ojo h3 a:hover {
        color: #2C82C9 !important;
    }

    #imagebox_bigimages g-more-link {
        font-size: 14pt !important;
        font-stretch: condensed !important;
        line-height: initial !important;
        text-transform: lowercase !important;
        margin-top: 10px !important;
        margin-left: 0px !important;
    }

    #imagebox_bigimages g-more-link ._wtf svg {
        margin-top: 2px !important;
    }

    div[style="margin-left:125px"] {

        /*** MAIN SEARCH RESULTS VIDEO CARD ***/
        margin-left: 135px !important;
    }

    .th._lyb._YQd {
        margin-top: 10px !important;
    }

    ._JGs {

        /*** MAIN SEARCH RESULTS NEWS CARD ***/
        background: #FFF !important;
        border-radius: 2px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        padding: 20px !important;
    }

    ._SHs ._RGs {
        border-radius: 50% !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
    }

    ._JGs   .top._xGs._SHs {
        margin-right: 20px !important;
    }

    ._gJs {
        height: 26px !important;
        margin-bottom: 8px !important;
    }

    ._gJs a {
        font-size: 16pt !important;
        font-stretch: condensed !important;
    }

    .slp {
        margin-bottom: 8px;
    }

    .slp span {
        font-size: 14pt !important;
        font-stretch: condensed !important;
    }

    .st {
        font-size: 11pt;
        line-height: 17pt !important;
    }

    div[style="margin-left:60px"],
    div[style="margin-left:61px"],
    div[style="margin-left:66px"],
    div[style="margin-left:69px"] {

        /*** MAIN SEARCH RESULTS BOOK CARD ***/
        margin-left: 79px !important;
    }

    ._lyb {
        margin-top: 10px !important;
    }

    .sh-dlr__list-result {

        /*** MAIN SEARCH RESULTS SHOPPING CARD ***/
        background: #FFF !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        margin-bottom: 20px !important;
        padding: 10px !important;
    }

    .sh-dlr__list-result ._Tav a {
        font-size: 16pt !important;
        font-stretch: condensed !important;
    }

    .sh-dlr__list-result ._eUv * {
        font-family: "Roboto" !important;
        font-size: 13pt !important;
        font-stretch: condensed !important;
        margin-top: 5px !important;
    }

    ._Bet {
        font-size: 11pt !important;
        line-height: 17pt !important;
    }

    ._NId g-section-with-header {

        /*** MAIN SEARCH RESULTS OTHERS CARDS ***/
        display: none;
    }

    #tw-container,
    .currency {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
        margin-bottom: 20px !important;
    }

    #center_col .mfr {
        background: #3E4651 !important;
        border-radius: 2px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        color: #FFF !important;
        padding: 20px 25px 25px 25px !important;
        margin-bottom: 30px !important;
    }

    #center_col .mfr * {
        font-style: normal !important;
        font-size: 14pt !important;
        font-stretch: condensed !important;
        color: #FFF !important;
    }

    .mw #rhs {

        /*** MAIN SEARCH RESULTS RIGHT SIDEBAR ***/
        margin-left: 820px !important;
    }

    #rhs .kp-blk {
        background: #FFF !important;
        border-radius: 2px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
    }

    #rhs .kp-hc {
        border-bottom: 1px solid #EBEBEB;
    }

    #rhs .kp-blk ._Q1n .kno-ecr-pt {
        font-size: 22pt !important;
        font-stretch: condensed !important;
    }

    #rhs .kp-blk ._gdf.kno-fb-ctx,
    #rhs .kp-blk .vk_gy {
        font-size: 11pt !important;
    }

    #rhs .kp-blk ._cgc.kno-fb-ctx {
        font-size: 11pt !important;
        line-height: 17pt !important;
    }

    #rhs .kp-blk ._eFb {
        background: #F0F1F5 !important;
        border: 1px solid #EBEBEB !important;
        border-radius: 2px !important;
        color: #60646D;
        font-size: 14pt !important;
        font-stretch: condensed !important;
        padding: 1px 10px 10px 13px !important;
        margin-bottom: 10px !important;
    }

    #rhs .kp-blk ._eFb * {
        font-weight: normal !important;
    }

    #rhs .mod._tN ._X5e {
        border-top: 1px solid #EBEBEB !important;
        font-size: 16pt !important;
        font-stretch: condensed !important;
        padding-top: 10px !important;
        padding-left: 15px !important;
        margin-right: 0px !important;
        margin-bottom: 5px !important;
        margin-left: 0px !important;
    }

    #rhs ._W5e._pow._X5e,
    #rhs ._B8k {
        font-size: 16pt !important;
        font-stretch: condensed !important;
    }

    #rhs .fl.ellip._NRl {
        color: #60646D !important;
        font-size: 11pt !important;
        line-height: 15pt !important;
    }

    #rhs ._VIf span {
        font-size: 11pt !important;
        line-height: 15pt !important;
    }

    #rhs ._G1d {
        border: none;
    }

    #rhs ._tdf {
        border-bottom: 1px solid #EBEBEB !important;
        padding-bottom: 15px !important;
        margin-bottom: 10px !important;
    }

    #rhs ._tdf span {
        font-size: 16pt !important;
        font-stretch: condensed;
    }

    .xpdclose ._T1i:not(:empty),
    .xpdopen ._U1i:not(:empty) {
        border-top: none !important;
        border-bottom: 1px solid #EBEBEB !important;
        margin-bottom: -1px !important;
    }

    #rhs .ab_button {
        border: none !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        font-family: "Roboto" !important;
        font-size: 14pt;
        font-stretch: condensed !important;
        font-weight: normal !important;
        padding: 6px 15px 8px 15px !important;
    }

    #rhs ._G2n._H2n,
    #rhs ._G2n._d3n,
    #rhs ._VAp,
    #rhs ._z8k .fl {
        font-size: 13pt !important;
        font-stretch: condensed !important;
    }

    #rhs ._G1d._wle._xle {
        margin-top: 15px !important;
    }

    .chip {

        /*** IMAGE SEARCH TAGS ***/
        border-radius: 2px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
    }

    .chip .sq {
        font-size: 13pt !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
    }

    .x {
        background-repeat: no-repeat !important;
        padding-bottom: 2px !important;
    }

    #rg_s {

        /*** IMAGE SEARCH CONTAINER ***/
        margin-top: 10px !important;
    }

    #rg_s .rg_i {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
    }

    .rg_anbg,
    .rg_ilmbg {
        background: rgba(51, 51, 51, 1) !important;
        font-size: 13pt !important;
        font-stretch: condensed !important;
        line-height: 23px !important;
        padding: 13px 10px 13px 15px !important;
    }

    .irc_pt {
        font-size: 20pt !important;
        font-stretch: condensed !important;
        margin-bottom: 10px !important;
    }

    .irc_hd {
        font-size: 13pt !important;
        font-stretch: condensed !important;
        line-height: 16pt !important;
    }

    ._FKw a {
        background: #120f0d !important;
        border: none !important;
        border-radius: 2px !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        font-size: 12pt !important;
        font-stretch: condensed !important;
        padding: 8px 20px 10px 20px !important;
        text-shadow: none !important;
        text-transform: uppercase !important;
    }

    ._FKw ._WKw {
        padding-left: 0px !important;
    }

    ._RKw._wtf._Ptf,
    ._FKw ._RKw {
        display: none !important;
    }

    ._B3l {
        font-size: 15pt !important;
        font-stretch: condensed !important;
    }

    ._hes span {
        font-family: "Roboto" !important;
        font-size: 12pt !important;
        font-stretch: condensed !important;
        font-weight: bold !important;
        text-shadow: none;
        text-transform: uppercase !important;
        margin-top: -7px !important;
    }

    ._BHt {
        font-size: 13pt;
        font-stretch: condensed !important;
    }
}

@-moz-document regexp("https://www.google.*/"), regexp("https://www.google.*/imghp.*"), regexp("https://www.google.*/\\?.*") {
	#gsr {
        background: #F0F1F5 !important;
    }

    #gsr #searchform #tsf .tsf-p {
        padding-left: 284px !important;
        padding-right: 284px !important;
    }

    .jsb input {
        border: none !important;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1) !important;
        font-size: 12pt !important;
        font-stretch: condensed !important;
        font-weight: normal !important;
        height: 45px !important;
        padding-bottom: 3px !important;
        width: 150px !important;
    }

	input[name="btnK"] {
        background: #3369E8 !important;
        color: #FFF !important;
    }
}

@-moz-document regexp("https://www.google.*/imghp.*") {
	#gsr #searchform #tsf .tsf-p {
        padding-left: inherit !important;
        padding-right: inherit !important;
    }
}
